# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_DATABASE_URL=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
FIREBASE_CLIENT_EMAIL=

# One Signal Setup
NEXT_PUBLIC_ONESIGNAL_APP_ID=
ONESIGNAL_API_KEY=

# Admin Email
NEXT_PUBLIC_ADMIN_EMAIL=

# Google Apps Script Webhook
NEXT_PUBLIC_APPS_SCRIPT_URL=

# Cloudinary Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=

# Registration Package Options
NEXT_PUBLIC_LIVE_ONLY=false
NEXT_PUBLIC_RECORD_ONLY=true

# AI Assistant Configuration
NEXT_PUBLIC_AI_API_URL=
NEXT_PUBLIC_AI_NAME=
NEXT_PUBLIC_AI_DEVELOPER=

# Registration Period
NEXT_PUBLIC_REGISTRATION_OPEN=false
